In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
frame = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/Mcdonalds.csv',usecols=['Item','Calories','Category','TotalFat','Sugars','Protein','Cholesterol'])
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [3]:
# odwołanie do kolumny znajdującej się w "frame" #1
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [4]:
# odwołanie do kolumny znajdującej się w "frame" #2 - ta metoda działa na kolumny posiadające spację w nazwie!
frame["TotalFat"].head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [5]:
# dodanie nowej kolumny
frame["TotalFat0"] = 0
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0

In [6]:
frame["Total Fat"] = 1
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,Total Fat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,1
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,1
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,1
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,1
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,1

In [8]:
# zmienna z przypisanym dodawaniem dwóch kolumn
SugarAndFat = frame.Sugars + frame.TotalFat

In [9]:
# dodanie nowej kolumny "SugarAndFat" i przypisanie jej wartości ze zmiennej SugarAndFat (czyli sumy Sugar i TotalFat)
frame['SugarAndFat'] = SugarAndFat
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,Total Fat,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,1,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,1,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,1,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,1,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,1,25.0

In [10]:
# dodanie nowej kolumny do DataFrame jako sumy dwóch innych w jednej linijce
frame["SugarAndProtein"] = frame.Sugars + frame.Protein
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,Total Fat,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,1,16.0,20
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,1,11.0,21
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,1,25.0,16
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,1,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,1,25.0,23

In [11]:
# dodawanie nowej kolumny w innym miejscu niż na końcu
frame.insert(loc=2, column="SPF",value=frame.Sugars+frame.Protein+frame.TotalFat)
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,Total Fat,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,1,16.0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,1,11.0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,1,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,1,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,1,25.0,23

In [12]:
# usuwanie kolumn #1
del frame["SugarAndProtein"]
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,Total Fat,SugarAndFat
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,1,16.0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,1,11.0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,1,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,1,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,1,25.0

In [13]:
# del frame.SugarAndFat - nie zadziala

In [14]:
# usuwanie kolumn #2
frame = frame.drop(columns=['SugarAndFat'])
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,Total Fat
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,1
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,1
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,1
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,1
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,1

In [15]:
# usuwanie wierszy, axis = 0 - usuwanie z wierszy, axis = 1 - usuwanie z kolumn #3
frame.drop(labels='Total Fat',axis=1,inplace=True)
frame.head()

,Category,Item,SPF,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0

In [16]:
# usuwanie kolumn - inplace sprawia ze oryginalna wartosc zostaje nadmieniona #4
frame.drop(columns=['SPF'],inplace=True)
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0