In [39]:
"""1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej animals wczytaj
zawartość pliku sleep_time.csv. Pobierz wszystkie kolumny, a kolumnę ID wybierz jako indeks. Podczas
wczytywania zamień wszystkie wartości NaN na 0. Wyświetl nagłówek zaimportowanego pliku"""

import pandas as pd
import numpy as np
animals = pd.read_csv("/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/sleep_time.csv",index_col='ID').fillna(value=0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [40]:
"""2. 2. W kolumnie vore znajduje się informacja o tym czy zwierzę jest roślinożerne (herbi), mięsożerne (carni) i
wszystkożerne (omni). Korzystając z metody where wybierz wiersze opisujące zwierzęta roślinożerne.
Wynik zapisz w zmiennej herbi"""

herbiVore = animals['vore'] == "herbi"
herbi = animals.where(herbiVore)
herbi.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00

In [41]:
"""3. Ile wierszy jest w zmiennej herbi?"""

len(herbi)

83

In [42]:
"""4. Ile wierszy jest w zmiennej herbi po usunięciu wartości NaN?"""

len(herbi.dropna())

32

In [43]:
"""5. Utwórz zmienną carni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zostaną tylko
wiersze zwierząt mięsożernych. Wyświetl informację o ilości wierszy w zmiennej carni oraz o ilości wierszy
po usunięciu wartości NaN"""

carni = animals.where(animals['vore'] == 'carni')
print(len(carni))
print(len(carni.dropna()))

83
19

In [44]:
"""6. Utwórz zmienną omni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylko
wiersze zwierząt wszystkożernych. Wyświetl informację o ilości wierszy w zmiennej omni oraz o ilości
wierszy po usunięciu wartości NaN."""

omni = animals.where(animals['vore'] == 'omni')
print(len(omni))
print(len(omni.dropna()))

83
20

In [45]:
"""7. Wyświetl średni czas snu (kolumna sleep_total) dla zwierząt roślino-, mieso- i wszystkożernych. Czy
można próbować postawić hipotezę, że rodzaj pokarmu wpływa na czas snu?"""

print('carni mean sleep time:', carni['sleep_total'].mean())
print('herbi mean sleep:', herbi['sleep_total'].mean())
print('omni mean sleep:', omni['sleep_total'].mean())

carni mean sleep time: 10.378947368421054
herbi mean sleep: 9.509375
omni mean sleep: 10.924999999999999

In [46]:
"""8. Korzystając z polecenia query wybierz te wiersze, które opisują zwierzęta śpiące więcej niż 14 godzin na
dobę (kolumna sleep_total)"""

animals.query('sleep_total > 14').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.00000,3.850
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500

In [49]:
"""9. Do warunku z poprzedniego zadania dodaj: rodzaj zwierzęcia (kolumna vore) ma być roślinożerny
(wartość herbi)"""

animals.query('sleep_total > 14 and vore == "herbi"').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.000,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.000,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.001,0.120

In [50]:
"""10. Do warunku z poprzedniego zadania dodaj: waga ciała (kolumna bodywt) ma być większa niż 1"""

animals.query('sleep_total > 14 and vore == "herbi" and bodywt > 1').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0,3.85