In [23]:
"""1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej air wczytaj zawartość pliku
Air_Traffic_Passenger_Statistics.csv. Pobierz wszystkie kolumny. Wyświetl nagłówek obiektu data frame."""

import pandas as pd
import numpy as np

air = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/Air_Traffic_Passenger_Statistics.csv')
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [24]:
"""2. Zmień indeks na "Operating Airline","Activity Period". Wyświetl 10 pierwszych wierszy"""

air.set_index(['Operating Airline','Activity Period'],inplace=True)
air.head()

                                  Operating Airline IATA Code  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ
                  200507                                   TZ
                  200507                                   TZ
Air Canada        200507                                   AC
                  200507                                   AC

                                  Published Airline  \
Operating Airline Activity Period
ATA Airlines      200507               ATA Airlines
                  200507               ATA Airlines
                  200507               ATA Airlines
Air Canada        200507                 Air Canada
                  200507                 Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Operating Airline Activity Period
ATA Airlines      200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
                  200507                                   TZ       Domestic
Air Canada        200507                                   AC  International
                  200507                                   AC  International

                                  GEO Region Activity Type Code  \
Operating Airline Activity Period
ATA Airlines      200507                  US           Deplaned
                  200507                  US           Enplaned
                  200507                  US     Thru / Transit
Air Canada        200507              Canada           Deplaned
                  200507              Canada           Enplaned

                                  Price Category Code    Terminal  \
Operating Airline Activity Period
ATA Airlines      200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
                  200507                     Low Fare  Terminal 1
Air Canada        200507                        Other  Terminal 1
                  200507                        Other  Terminal 1

                                  Boarding Area  Passenger Count
Operating Airline Activity Period
ATA Airlines      200507                      B            27271
                  200507                      B            29131
                  200507                      B             5415
Air Canada        200507                      B            35156
                  200507                      B            34090

In [25]:
"""3. Zresetuj indeks. Wyświetl nagłówek"""

air.reset_index(inplace=True)
air.head()

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [26]:
'''4. Zmień indeks na "Activity Period","Operating Airline". Wyświetl 10 pierwszych wierszy'''

air.set_index(['Activity Period','Operating Airline'],inplace=True)
air.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [28]:
"""5. Posortuj dane tak, aby pierwsza kolumna indeksu była uporządkowana w kolejności malejącej, a druga w
kolejności rosnącej. Wyświetl nagłówek z 10 wierszami"""

air.sort_index(ascending=[False,True], inplace=True)
air.head()

                                                         Operating Airline IATA Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                Aer Lingus                                                        EI
                Aer Lingus                                                        EI
                Aeromexico                                                        AM

                                                                                 Published Airline  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet  ABC Aerolineas S.A. de C.V. dba Interjet
                ABC Aerolineas S.A. de C.V. dba Interjet  ABC Aerolineas S.A. de C.V. dba Interjet
                Aer Lingus                                                              Aer Lingus
                Aer Lingus                                                              Aer Lingus
                Aeromexico                                                              Aeromexico

                                                         Published Airline IATA Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                Aer Lingus                                                        EI
                Aer Lingus                                                        EI
                Aeromexico                                                        AM

                                                            GEO Summary  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet  International
                ABC Aerolineas S.A. de C.V. dba Interjet  International
                Aer Lingus                                International
                Aer Lingus                                International
                Aeromexico                                International

                                                         GEO Region  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet     Mexico
                ABC Aerolineas S.A. de C.V. dba Interjet     Mexico
                Aer Lingus                                   Europe
                Aer Lingus                                   Europe
                Aeromexico                                   Mexico

                                                         Activity Type Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet           Deplaned
                ABC Aerolineas S.A. de C.V. dba Interjet           Enplaned
                Aer Lingus                                         Deplaned
                Aer Lingus                                         Enplaned
                Aeromexico                                         Deplaned

                                                         Price Category Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet               Other
                ABC Aerolineas S.A. de C.V. dba Interjet               Other
                Aer Lingus                                             Other
                Aer Lingus                                             Other
                Aeromexico                                             Other

                                                               Terminal  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet  International
                ABC Aerolineas S.A. de C.V. dba Interjet  International
                Aer Lingus                                International
                Aer Lingus                                International
                Aeromexico                                International

                                                         Boarding Area  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet             A
                ABC Aerolineas S.A. de C.V. dba Interjet             A
                Aer Lingus                                           G
                Aer Lingus                                           G
                Aeromexico                                           A

                                                          Passenger Count
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet             1090
                ABC Aerolineas S.A. de C.V. dba Interjet             1212
                Aer Lingus                                           7165
                Aer Lingus                                           6992
                Aeromexico                                          12334

In [29]:
"""6. Zresetuj indeks. Wyświetl nagłówek"""

air.reset_index(inplace=True)
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,201803,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Deplaned,Other,International,A,1090
1,201803,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Enplaned,Other,International,A,1212
2,201803,Aer Lingus,EI,Aer Lingus,EI,International,Europe,Deplaned,Other,International,G,7165
3,201803,Aer Lingus,EI,Aer Lingus,EI,International,Europe,Enplaned,Other,International,G,6992
4,201803,Aeromexico,AM,Aeromexico,AM,International,Mexico,Deplaned,Other,International,A,12334

In [31]:
'''7. Zmień indeks na "Activity Period","Operating Airline","Activity Type Code". Wyświetl 10 pierwszych
wierszy'''

air.set_index(['Activity Period','Operating Airline','Activity Type Code'],inplace=True)
air.head()

                                                                            Operating Airline IATA Code  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                                    4O
                                                         Enplaned                                    4O
                Aer Lingus                               Deplaned                                    EI
                                                         Enplaned                                    EI
                Aeromexico                               Deplaned                                    AM

                                                                                                    Published Airline  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                Aer Lingus                               Deplaned                                          Aer Lingus
                                                         Enplaned                                          Aer Lingus
                Aeromexico                               Deplaned                                          Aeromexico

                                                                            Published Airline IATA Code  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                                    4O
                                                         Enplaned                                    4O
                Aer Lingus                               Deplaned                                    EI
                                                         Enplaned                                    EI
                Aeromexico                               Deplaned                                    AM

                                                                               GEO Summary  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned            International
                                                         Enplaned            International
                Aer Lingus                               Deplaned            International
                                                         Enplaned            International
                Aeromexico                               Deplaned            International

                                                                            GEO Region  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned               Mexico
                                                         Enplaned               Mexico
                Aer Lingus                               Deplaned               Europe
                                                         Enplaned               Europe
                Aeromexico                               Deplaned               Mexico

                                                                            Price Category Code  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                         Other
                                                         Enplaned                         Other
                Aer Lingus                               Deplaned                         Other
                                                         Enplaned                         Other
                Aeromexico                               Deplaned                         Other

                                                                                  Terminal  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned            International
                                                         Enplaned            International
                Aer Lingus                               Deplaned            International
                                                         Enplaned            International
                Aeromexico                               Deplaned            International

                                                                            Boarding Area  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                       A
                                                         Enplaned                       A
                Aer Lingus                               Deplaned                       G
                                                         Enplaned                       G
                Aeromexico                               Deplaned                       A

                                                                             Passenger Count
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                       1090
                                                         Enplaned                       1212
                Aer Lingus                               Deplaned                       7165
                                                         Enplaned                       6992
                Aeromexico                               Deplaned                      12334