In [1]:
import pandas as pd
import numpy as np

In [4]:
url = 'https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?sort=1&file=data%2Favia_par_pl.tsv.gz'

In [5]:
pd.read_csv(url,delimiter='\t')

,"unit,tra_meas,airp_pr\time",2019Q2,2019Q1,2019M06,2019M05,2019M04,2019M03,2019M02,2019M01,2018Q4,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",182,174,60,62,60,60,54,60,170,...,:,:,:,:,:,:,:,:,:,:
1,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,:,:,36,...,:,:,:,:,:,:,:,:,:,:
2,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",52,56,16,18,18,18,16,22,56,...,:,:,:,:,:,:,:,:,:,:
4,"FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6064,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGNX",9828,10017,3213,3402,3213,3402,3024,3591,11718,...,:,:,:,:,:,:,:,:,:,:
6065,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPF",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
6066,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPH",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
6067,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPK",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
6068,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGSS",30051,26838,9828,10017,10206,9072,8316,9450,28161,...,:,:,:,:,:,:,:,:,:,:

In [6]:
routes = pd.read_csv(url,delimiter='\t')

In [7]:
routes.head()

,"unit,tra_meas,airp_pr\time",2019Q2,2019Q1,2019M06,2019M05,2019M04,2019M03,2019M02,2019M01,2018Q4,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",182,174,60,62,60,60,54,60,170,...,:,:,:,:,:,:,:,:,:,:
1,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,:,:,36,...,:,:,:,:,:,:,:,:,:,:
2,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",52,56,16,18,18,18,16,22,56,...,:,:,:,:,:,:,:,:,:,:
4,"FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [8]:
routes['unit,tra_meas,airp_pr\\time'].str.split(',')

0        [FLIGHT, CAF_PAS, PL_EPBY_DE_EDDF]
1        [FLIGHT, CAF_PAS, PL_EPBY_DE_EDLV]
2        [FLIGHT, CAF_PAS, PL_EPBY_ES_LEGE]
3        [FLIGHT, CAF_PAS, PL_EPBY_IE_EIDW]
4        [FLIGHT, CAF_PAS, PL_EPBY_PL_EPWA]
                       ...
6064    [SEAT, ST_PAS_DEP, PL_EPWR_UK_EGNX]
6065    [SEAT, ST_PAS_DEP, PL_EPWR_UK_EGPF]
6066    [SEAT, ST_PAS_DEP, PL_EPWR_UK_EGPH]
6067    [SEAT, ST_PAS_DEP, PL_EPWR_UK_EGPK]
6068    [SEAT, ST_PAS_DEP, PL_EPWR_UK_EGSS]
Name: unit,tra_meas,airp_pr\time, Length: 6069, dtype: object

In [9]:
routes['unit,tra_meas,airp_pr\\time'].str.split(',',expand=True)

           0           1                2
0     FLIGHT     CAF_PAS  PL_EPBY_DE_EDDF
1     FLIGHT     CAF_PAS  PL_EPBY_DE_EDLV
2     FLIGHT     CAF_PAS  PL_EPBY_ES_LEGE
3     FLIGHT     CAF_PAS  PL_EPBY_IE_EIDW
4     FLIGHT     CAF_PAS  PL_EPBY_PL_EPWA
...      ...         ...              ...
6064    SEAT  ST_PAS_DEP  PL_EPWR_UK_EGNX
6065    SEAT  ST_PAS_DEP  PL_EPWR_UK_EGPF
6066    SEAT  ST_PAS_DEP  PL_EPWR_UK_EGPH
6067    SEAT  ST_PAS_DEP  PL_EPWR_UK_EGPK
6068    SEAT  ST_PAS_DEP  PL_EPWR_UK_EGSS

[6069 rows x 3 columns]

In [10]:
routes_desc = routes['unit,tra_meas,airp_pr\\time'].str.split(',',expand=True)

In [12]:
routes_desc.rename({0:'unit',1:'tra_meas',2:'airport'}, axis=1,inplace=True)

In [13]:
routes_desc.head()

     unit tra_meas          airport
0  FLIGHT  CAF_PAS  PL_EPBY_DE_EDDF
1  FLIGHT  CAF_PAS  PL_EPBY_DE_EDLV
2  FLIGHT  CAF_PAS  PL_EPBY_ES_LEGE
3  FLIGHT  CAF_PAS  PL_EPBY_IE_EIDW
4  FLIGHT  CAF_PAS  PL_EPBY_PL_EPWA

In [14]:
routes_desc.join(routes)

,unit,tra_meas,airport,"unit,tra_meas,airp_pr\time",2019Q2,2019Q1,2019M06,2019M05,2019M04,2019M03,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",182,174,60,62,60,60,...,:,:,:,:,:,:,:,:,:,:
1,FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",52,56,16,18,18,18,...,:,:,:,:,:,:,:,:,:,:
4,FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA,"FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6064,SEAT,ST_PAS_DEP,PL_EPWR_UK_EGNX,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGNX",9828,10017,3213,3402,3213,3402,...,:,:,:,:,:,:,:,:,:,:
6065,SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPF,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPF",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
6066,SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPH,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPH",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
6067,SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPK,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGPK",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
6068,SEAT,ST_PAS_DEP,PL_EPWR_UK_EGSS,"SEAT,ST_PAS_DEP,PL_EPWR_UK_EGSS",30051,26838,9828,10017,10206,9072,...,:,:,:,:,:,:,:,:,:,:

In [15]:
routes_desc = routes_desc.join(routes)

In [16]:
routes_desc.head()

,unit,tra_meas,airport,"unit,tra_meas,airp_pr\time",2019Q2,2019Q1,2019M06,2019M05,2019M04,2019M03,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF",182,174,60,62,60,60,...,:,:,:,:,:,:,:,:,:,:
1,FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV,"FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE,"FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW,"FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW",52,56,16,18,18,18,...,:,:,:,:,:,:,:,:,:,:
4,FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA,"FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA",:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [17]:
routes_desc.drop('unit,tra_meas,airp_pr\\time',axis=1,inplace=True)

In [18]:
routes_desc.head()

,unit,tra_meas,airport,2019Q2,2019Q1,2019M06,2019M05,2019M04,2019M03,2019M02,...,2004M09,2004M08,2004M07,2004M06,2004M05,2004M04,2004M03,2004M02,2004M01,2004
0,FLIGHT,CAF_PAS,PL_EPBY_DE_EDDF,182,174,60,62,60,60,54,...,:,:,:,:,:,:,:,:,:,:
1,FLIGHT,CAF_PAS,PL_EPBY_DE_EDLV,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,FLIGHT,CAF_PAS,PL_EPBY_ES_LEGE,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,FLIGHT,CAF_PAS,PL_EPBY_IE_EIDW,52,56,16,18,18,18,16,...,:,:,:,:,:,:,:,:,:,:
4,FLIGHT,CAF_PAS,PL_EPBY_PL_EPWA,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [19]:
json_link = 'http://floatrates.com/daily/chf.json'

In [20]:
pd.read_json(json_link)

,usd,eur,gbp,aud,cad,jpy,nio,srd,syp,top,...,mdl,ves,jmd,gip,mzn,kes,dkk,aed,xof,uzs
code,USD,EUR,GBP,AUD,CAD,JPY,NIO,SRD,SYP,TOP,...,MDL,VES,JMD,GIP,MZN,KES,DKK,AED,XOF,UZS
alphaCode,USD,EUR,GBP,AUD,CAD,JPY,NIO,SRD,SYP,TOP,...,MDL,VES,JMD,GIP,MZN,KES,DKK,AED,XOF,UZS
numericCode,840,978,826,036,124,392,558,968,760,776,...,498,928,388,292,943,404,208,784,952,860
name,U.S. Dollar,Euro,U.K. Pound Sterling,Australian Dollar,Canadian Dollar,Japanese Yen,Nicaraguan CÃ³rdoba,Surinamese dollar,Syrian pound,Tongan paÊ»anga,...,Moldova Lei,Venezuelan Bolivar,Jamaican Dollar,Gibraltar pound,Mozambican metical,Kenyan shilling,Danish Krone,U.A.E Dirham,West African CFA Franc,Uzbekistan Sum
rate,1.05651,0.941546,0.816357,1.59931,1.41668,112.143,35.7855,7.89235,461.972,2.4396,...,18.3935,79354.7,143.146,0.825217,69.4932,108.323,7.05804,3.88017,621.386,10063.9
date,"Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT",...,"Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT","Fri, 6 Mar 2020 07:00:02 GMT"
inverseRate,0.946511,1.06208,1.22495,0.62527,0.705878,0.00891718,0.0279442,0.126705,0.00216463,0.409903,...,0.054367,1.26016e-05,0.00698587,1.2118,0.0143899,0.00923168,0.141682,0.257721,0.00160931,9.9365e-05

In [21]:
pd.read_json(json_link).transpose()

,code,alphaCode,numericCode,name,rate,date,inverseRate
usd,USD,USD,840,U.S. Dollar,1.05651,"Fri, 6 Mar 2020 07:00:02 GMT",0.946511
eur,EUR,EUR,978,Euro,0.941546,"Fri, 6 Mar 2020 07:00:02 GMT",1.06208
gbp,GBP,GBP,826,U.K. Pound Sterling,0.816357,"Fri, 6 Mar 2020 07:00:02 GMT",1.22495
aud,AUD,AUD,036,Australian Dollar,1.59931,"Fri, 6 Mar 2020 07:00:02 GMT",0.62527
cad,CAD,CAD,124,Canadian Dollar,1.41668,"Fri, 6 Mar 2020 07:00:02 GMT",0.705878
...,...,...,...,...,...,...,...
kes,KES,KES,404,Kenyan shilling,108.323,"Fri, 6 Mar 2020 07:00:02 GMT",0.00923168
dkk,DKK,DKK,208,Danish Krone,7.05804,"Fri, 6 Mar 2020 07:00:02 GMT",0.141682
aed,AED,AED,784,U.A.E Dirham,3.88017,"Fri, 6 Mar 2020 07:00:02 GMT",0.257721
xof,XOF,XOF,952,West African CFA Franc,621.386,"Fri, 6 Mar 2020 07:00:02 GMT",0.00160931
uzs,UZS,UZS,860,Uzbekistan Sum,10063.9,"Fri, 6 Mar 2020 07:00:02 GMT",9.9365e-05

In [ ]:
# importing data
# finding data
# undestanding data
# importing data(technical aspect)
# df.read_*